html,
body {
  height: 100%;
  min-height: 100%;
}
@media screen and (max-width: 767px) {
  html,
  body {
    height: auto;
    min-height: auto;
  }
}
body {
  background-color: #f6f7f2;
  font-family: 'Poppins', sans-serif;
  color: #133239;
}
@media screen and (max-width: 767px) {
  #main-menu {
    position: static;
    margin-bottom: 40px !important;
  }
}
#main-menu {
  border: 0px;
  margin: 0px;
  background-color: #00003c;
}
#main-menu #navbar ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#main-menu #navbar ul li a:hover {
  background-color: #000028;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#main-menu a.navbar-brand {
  padding: 5px;
  margin-top: -25px;
}
#main-menu a.navbar-brand img {
  width: 225px;
}
#main-menu button.navbar-toggle {
  background-color: #f6f7f2;
  border-color: #00003c;
}
#main-menu button.navbar-toggle span {
  background-color: #00003c;
}
@media screen and (min-width: 768px) {
  #main-menu.navbar {
    min-height: 80px;
  }
  #main-menu #navbar ul li a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  #main-menu #navbar {
    border: 0px;
  }
  #main-menu a.navbar-brand {
    padding: 10px;
  }
  #main-menu a.navbar-brand img {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.wrapper {
  /*
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  */
}
.wrapper .cotacao-box .title {
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}
.wrapper .cotacao-box .title i {
  color: #49b749;
}
.wrapper .cotacao-box .box {
  margin-top: 15px;
  background-color: #00003c;
  border-radius: 3px;
  padding: 20px;
  color: #fff;
}
.wrapper .cotacao-box .box i {
  display: table;
  margin: 0 auto;
}
.wrapper .cotacao-box .box h2 {
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  color: #f6f7f2;
}
.wrapper .cotacao-box .box h2.equal {
  margin-top: -10px;
}
.wrapper .cotacao-box .box p {
  text-align: center;
  color: #f6f7f2;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.wrapper .cotacao-box .box .input-group input {
  border-color: #f6f7f2;
}
.wrapper .cotacao-box .box .input-group span {
  background-color: #f6f7f2;
  border-color: #f6f7f2;
}
.wrapper .cotacao-box .share-box {
  margin: 15px 0px;
  text-align: center;
}
.wrapper .cotacao-box .share-box a {
  font-size: 32px;
  color: #133239;
  margin: 0px 15px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
.wrapper .cotacao-box .share-box a:hover {
  text-decoration: none;
}
.wrapper .cotacao-box .share-box a i {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wrapper .cotacao-box .share-box a i:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wrapper .cotacao-box .share-box a i:hover.fa-facebook {
  color: #3b579d;
}
.wrapper .cotacao-box .share-box a i:hover.fa-twitter {
  color: #36b9ff;
}
.wrapper .cotacao-box .share-box a i:hover.fa-paper-plane {
  color: #279fd3;
}
.wrapper .cotacao-box .share-box a i:hover.fa-whatsapp {
  color: #29a71a;
}
@media screen and (max-width: 776px) {
  h2.equal {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 550px) {
  .wrapper .cotacao-box .title {
    font-size: 26px;
  }
  .wrapper .cotacao-box .box {
    padding: 20px 10px;
  }
  .wrapper .cotacao-box .box h2 {
    font-size: 28px;
  }
}
footer {
  background-color: #00003c;
  width: 100%;
  padding: 20px 0px;
}
footer p {
  margin: 0px;
  color: #f6f7f2;
  word-wrap: break-word;
}
@media screen and (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 10px 0px;
    margin-top: 40px;
  }
  footer p {
    font-size: 12px;
  }
}
.link_parceiro img {
  width: 100%;
}
